@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --orange: #f5ac47;
}

.Toastify__toast-body{
    color: black;
}

.Toastify__progress-bar--success{
    background-color: var(--orange);
}

body{
    background-color: #f2eadf;
}